*
!/**/
!*.*
*.o
*.so
*.a
*.d
.*.swp
schema.js
scripts.js
.vscode
.idea
/*.files
/*.config
/*.creator
/*.creator.user
/build
Makefile
.clang-format
_build
_static
_templates
_generatedDocs
html
latex
